<div class="bg-warning w-25 h-100 p-4 m-4">
    <h2 style="font-style:bold">Registration Form</h2>
    <label>Candidate Name:</label>
    <input type="text" name="cname"><br><br>
    <label>DOB:</label>
    <input type="date" name="dob"><br><br>
    <label>Date Of Joining:</label>
    <input type="date" name="doj"><br><br>
    <label>Personal Email:</label>
    <input type="email" name="pemail"><br><br>
    <label>Company Email:</label>
    <input type="email" name="cmail"><br><br>
    <label>Gender:</label>Male
    <input type="radio" name="gender">&nbsp;&nbsp;Female
    <input type="radio" name="gender">&nbsp;&nbsp;Other
    <input type="radio" name="gender"><br><br>
    <label>Address:</label>
    <textarea name="w3review" rows="2" cols="30"></textarea><br><br>
    >
    <button type="submit" class="btn btn-success">Login</button>&nbsp;&nbsp;
    <button type="reset" class="btn btn-danger">Reset</button>
    
    <div class="container mt-3">
                 
      <img src="./assets/Images/Logo.jpg" class="rounded" alt="Cinque Terre" width="304" height="236"> 
    </div>
    </div>
    
    